extends layout

block content
    h4 Change values you want to edit and submit form

    form(method='POST' action='/create').form-control
        table.table.table-bordered
            caption data of new animal
            thead.table-light
                tr
                    th name
                    th age
                    th salary
            tbody
                tr
                    td
                        input(type='text' name='name')
                    td
                        input(type='number' name='age')
                    td
                        input(type='number' name='salary')
        input(type='submit' value='create animal').btn.btn-primary
    
    a(href="/change", style="text-decoration: none; margin-top:10px;").btn.btn-primary Back